html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
body {
        line-height: 1;
        font-size: 9pt;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-family: Verdana, Arial, Helvetica, sans-serif;
}

ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}

/* remember to define focus styles! */
:focus {
        outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}

h2 {
    font-size: 15pt;
    margin-bottom: 12pt;
}

h3 {
    font-size: 12pt;
    margin-bottom: 12pt;
    border-bottom: 1px solid #000000;
}

h4 {
    font-size: 10pt;
    margin-bottom: 4pt;
}

.classes {
    border: 1px dotted #000000;
    padding-left: 5pt;
    padding-right: 5pt;
    margin-bottom: 10pt;
}

.events, .methods, .props {
    border: 1px dashed #000000;
    padding: 7pt;
    margin-bottom: 5pt;
}

.event, .method, .prop {
    margin-bottom: 15pt;
    background: #F0F0F0;
    border: 1px dotted #C8C8C8;
    padding: 4pt;
}

.event > p, .method > p, .prop > p {
    margin-left: 12pt;
    margin-bottom: 5pt;
}

.desc {
    border: 1px dotted #A7A7A7;
    padding: 3pt;
    border-right: 5px solid #A7A7A7;
}

.method > ul, .event > ul, .prop > ul {
    margin-bottom: 8pt;
}

.event > ul, .method > ul, .prop > ul {
    margin-left: 24pt;
}
